<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO web apps are so cool</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file??
  </p>
  
  <button class="btn btn-default" type="button" onclick="toggleSignIn()">
  login
  </button>

  <form action="/action_page.php" target="_blank">
    First name:<br>
    <input type="text" name="firstname" id="firstname" value="">
    <br>
    Last name:<br>
    <input type="text" name="lastname" id="lastname" value="">
    <br><br>
  </form> 
  
  <form>
    <input type="text" name="title" id="title" value="">
    <input typr="body" name="body" id="body" value="">

  </form>
  <button class="btn btn-default" type="button" onclick="handleMessageFormSubmit()">
     Submit
  </button>
  
  <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
  
  <div id="stream"/>


</body>

</html>